.body-container{
    
  margin-left: 200px !important;
  margin-top: 10px !important;
  gap: 0px 20px;
}

.table-bordered th,
.table-bordered td {
  border-width: 2px !important; /* default is 1px */
  border-color: #6c757d !important; /* optional: make the color darker */
}