
        .card {
            border-radius: 10px;
        }
        .card-body {
            padding: 2rem !important;
           background-color: #eeedef !important;
            border-color: #e85c50;
        }
        .card-title {
            margin-bottom: 1.5rem;
        }
       